<div class="button-container">
  <div *ngIf="showDownloadButton">
    <a
      mat-flat-button
      href="http://localhost:8080/report/orders"
      target="_blank"
      class="button"
      id="report"
      >Download Order Report<mat-icon>save_alt</mat-icon></a
    >
  </div>

  <a mat-flat-button [routerLink]="addRoute" class="button">{{
    addButtonLabel
  }}<mat-icon>add_circle</mat-icon></a>
</div>

<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Search..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnNames[column] || column }} </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="column === 'pic'">
          <img *ngIf="row[column]" [src]="row[column]" alt="Image" width="40" height="40">
        </ng-container>
        <ng-container *ngIf="column !== 'pic' && column !== 'Action'">
          {{ row[column] }}
        </ng-container>
        <ng-container *ngIf="column === 'Action'">
          <button mat-icon-button (click)="viewDetail(row[idColumn])">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="edit(row[idColumn])">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(row[idColumn])">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of items"></mat-paginator>
</div>
