<mat-card class="card">
  <a mat-icon-button [routerLink]="['/list']" [queryParams]="{ tabIndex: 1 }">
    <mat-icon>arrow_back</mat-icon>
  </a>
  
    <mat-card-header>
      <div class="header-container">
       
        <mat-card-title class="title"> Item Detail</mat-card-title>
      </div>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngIf="item" role="listitem">
          <span class="bold">Item Id:</span> {{ item.itemId }}
        </mat-list-item>
        <mat-list-item *ngIf="item" role="listitem">
          <span class="bold">Item Name:</span> {{ item.itemName }}
        </mat-list-item>
        <mat-list-item *ngIf="item" role="listitem">
          <span class="bold">Item Code:</span> {{ item.itemCode }}
        </mat-list-item>
        <mat-list-item *ngIf="item" role="listitem">
          <span class="bold">Stock:</span> {{ item.stock }}
        </mat-list-item>
        <mat-list-item *ngIf="item" role="listitem">
            <span class="bold">Price:</span> {{ item.price }}
          </mat-list-item>
        <mat-list-item *ngIf="item" role="listitem">
          <span class="bold">Last Re Stock:</span> {{ item.lastReStock | date }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  