<div class="back">
  <a [routerLink]="['/list']" [queryParams]="{ tabIndex: 2 }">&lt; Back</a>
</div>

<div class="content">
  <h3>{{ isEditMode ? 'Edit Order' : 'Add Order' }}</h3>

  <div class="form">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <!-- Customer Autocomplete -->
      <mat-form-field class="full-width">
        <input type="text" placeholder="Customer" matInput [formControl]="customerControl" [matAutocomplete]="autoCustomer">
        <mat-autocomplete #autoCustomer="matAutocomplete" (optionSelected)="onCustomerSelected($event)">
          <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer.customerId">
            {{ customer.customerName }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="customerControl.hasError('required')">
          Customer is required.
        </mat-error>
      </mat-form-field>
    
      <!-- Item Autocomplete -->
      <mat-form-field class="full-width">
        <input type="text" placeholder="Item" matInput [formControl]="itemControl" [matAutocomplete]="autoItem">
        <mat-autocomplete #autoItem="matAutocomplete" (optionSelected)="onItemSelected($event)">
          <mat-option *ngFor="let item of filteredItems | async" [value]="item.itemId">
            {{ item.itemName }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="itemControl.hasError('required')">
          Item is required.
        </mat-error>
      </mat-form-field>
    
      <!-- Quantity Input -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Quantity" formControlName="quantity" type="number">
        <mat-error *ngIf="orderForm.get('quantity')?.hasError('required')">
          Quantity is required.
        </mat-error>
        <mat-error *ngIf="orderForm.get('quantity')?.hasError('min')">
          Quantity must be at least 1.
        </mat-error>
      </mat-form-field>

      <div class="add-button">
        <button mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
