<div class="back">
  <a routerLink="/list">&lt; Back</a>
</div>

<div class="content">
  <h3>Add Customer</h3>

  <div class="form">
    <div class="file-input-wrapper">
      <div class="file-input-wrapper" *ngIf="!uploadedImage">
        <label for="file-upload" class="custom-file-upload"> Upload Photo </label>
        <input id="file-upload" type="file" class="file-input" (change)="onFileChange($event)" />
      </div>
      <div *ngIf="uploadedImage" class="image-preview">
        <img [src]="uploadedImage" alt="Uploaded Image" width="150" height="150" />
        <span class="close-icon" (click)="clearImage()">&times;</span>
      </div>
    </div>
    <mat-form-field class="full-width">
      <mat-label>Customer Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Customer Address</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Customer Phone Number</mat-label>
      <input matInput />
    </mat-form-field>
    
    <div class="add-button">
      <button mat-raised-button (click)="onSubmit()">Create Customer</button>
    </div>    
  </div>
</div>
