<div class="back">
  <a routerLink="/list">&lt; Back</a>
</div>

<div class="content">
  <h3>Add Customer</h3>

  <div class="form">
    <mat-form-field class="full-width">
      <mat-label>Customer Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Customer Address</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Customer Phone Number</mat-label>
      <input matInput />
    </mat-form-field>
    <div class="file-input-wrapper">
      <label for="file-upload" class="custom-file-upload"> Upload Photo </label>
      <input id="file-upload" type="file" class="file-input" />
    </div>
    <div class="add-button">
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >Create Customer</a
      >
    </div>
  </div>
</div>
